@import "mixins.scss";


//<ШРИФТЫ>====================================================================================================

//@import "fonts.scss";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300&display=swap');
//<ШРИФТЫ>====================================================================================================



//<Шрифт по умолчанию>=========================================================================
$fontfamily: "Lato"; 
//<Шрифт по умолчанию>=========================================================================

//<Переменные>=================================================================================
$minwidth: 320px;
$mw: 1130;
$md1: $mw + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</Переменные>================================================================================

//<ОБНУЛЕННИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================================================
@import "null.scss";
//</ОБНУЛЕННИЕ, ОБЩИЕ ПАРАМЕТРЫ>================================================================

//<ОБОЛОЧКА>===================================================================================
.wrapper{
    
    min-height: 100%;
    overflow: hidden;
  
   
}
//</ОБОЛОЧКА>===================================================================================


//<ОСНОВНАЯ СЕТКА>===============================================================================
._container{
    max-width: $mw + px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}
//</ОСНОВНАЯ СЕТКА>=============================================================================

//<Поключение файлов стилей страниц и элементов>=================================================

@import "header.scss";
@import "ui.scss";
@import "footer.scss";
@import "swiper.scss";

//</Поключение файлов стилей страниц и элементов>=================================================

//<ОСНОВНОЙ БЛОК>==============================================================================
.page {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;   
}
.main-screen {

  flex: 1 0 100%;
  position: relative;

  &__bg{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

}


//=============================================================================================

.generation {
  padding: 120px 0;
  background-color: #f7f7f7;
 
  @media (max-width: 900px){
    padding: 80px 0;
  }
  @media (max-width: 600px){
    padding: 30px 0;
  }

 
}

.block {
  text-align: center;
  // .block__icon

  &__icon {
    margin: 0px 0px 30px 0px;
  }

  // .block__title

  &__title {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.6px;
    margin: 0px 0px 18px 0px;
  }

  // .block__text

  &__text {
    color: #848789;
    font-size: 18px;
    line-height: 34px;
    &_j {
      text-align: justify;
      font-size: 16px;
      line-height: 30px;
      &:after{
        content: '';
        display: block;
        margin: 35px auto 0px auto;
        width: 50px;
        height: 1px;
        background-color: #ebebeb;
      }
    }
  }
}





.brands {

  // .brands__row
  &_rev{
    .brands__column{
      order: 1;
      &_b{
      order: 2;
      }
    }
  }
  &__row {
    display: flex;
    @media (max-width: 1100px) {
      flex-direction: column;
    }

  }

  // .brands__column

  &__column {

    flex: 0 1 33.333%;
    // .brands__column_b

    &_b {
      flex: 0 1 66.667%
    }
  }

  // .brands__item

  &__item {
  }

  // .brands__content

  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      margin: 0px 0px 0px -10px;
      width: 0;
      height: 0;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid white;

    }
    @media (max-width: 1500px){
      padding: 40px 35px 30px 35px;
    }
  }

 

  &__image {
    padding: 0px 0px 37.51% 0px;
  }
}
.item {
  height: 100%;
  display: block;
  position: relative;
  // .item__logo

  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(100, 194, 158, 0.5);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.8s ease 0s;
  }

  // .item__image

  &__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  &:hover{
    .item__logo{
      opacity: 1;
      visibility: visible;
    }
  }
  @media (max-width: 1100px){
    height: auto;
    padding: 0px 0px 70% 0px;
  }
}




.slider {
  overflow: hidden;
  padding: 120px 0 60px 0;
  background-color: #f7f7f7;
  &__body {
  }



  &__item {
    text-align: center;
  }

  

  &__icon {
    margin-bottom: 20px;
  }

 

  &__title {
      margin-bottom: 20px;
      color: #353738;
      font-size: 18px;
      font-weight: 700;
      font-family: "Lato - Bold";
      letter-spacing: 1.8px;
  span{
      color: #848789;
      font-family: "Lato Light";
      font-weight: 300;
      letter-spacing: 1.8px;
     }
  }

  

  &__text {
    color: #848789;
    font-size: 24px;
    line-height: 34px;
   padding-bottom: 100px;
    font-style: italic;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

}

.swiper-pagination {
  span{
    margin-right: 10px;
  }
}




//</ОСНОВНОЙ БЛОК>==============================================================================

